nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 30px;
}

.nav-left .branding{
    margin-left:5px;
    color: black;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 550px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box  img{
    width: 15px;
}

.nav-middle .mike{
    border-radius: 50%;
    background-color: qua;
}

.nav-middle .mike img{
    width: 25px;
    
    margin-right: 0;
   
}
button{
    height: 30px;
    width: 70px;
    margin-right: 10px;
    border-radius: 30px;
}

@media (max-width: 900px){
    .menu-icon{
        display: none;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .logo{
        width: 90px;
    }
    .nav-middle .mic-icon{
        display: none;
    }
    .nav-middle .search-box input{
        width: 100px;
     }
    
}
.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 200px;
    text-align: left;
  }
  
  .dropdown-menu p {
    margin: 5px 0;
  }
  
  .dropdown-menu button {
    background-color: #f1f1f1;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
  }
  
  .dropdown-menu button:hover {
    background-color: #ddd;
  }
  
  .logout-button {
    margin-top: 10px;
    font-weight: bold;
    color: red;
  }
  